<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.remnev.verbatoria"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.verbatoria.VerbatoriaApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.verbatoria.presentation.splash.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.verbatoria.presentation.login.view.login.LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name="com.verbatoria.presentation.dashboard.view.DashboardActivity"
            android:screenOrientation="landscape"
            android:configChanges="locale"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name="com.verbatoria.presentation.calendar.view.detail.EventDetailActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.verbatoria.presentation.session.view.connection.ConnectionActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.verbatoria.presentation.session.view.reconnect.ReconnectionActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.verbatoria.presentation.calendar.view.add.clients.ClientsActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.verbatoria.presentation.calendar.view.add.children.ChildActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.verbatoria.presentation.calendar.view.add.clients.search.SearchClientsActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.verbatoria.presentation.calendar.view.add.children.search.SearchChildrenActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.verbatoria.presentation.schedule.view.ScheduleActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.verbatoria.presentation.late_send.view.LateSendActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.verbatoria.presentation.session.view.writing.WritingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name="com.verbatoria.presentation.session.view.submit.SubmitActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name="com.verbatoria.presentation.login.view.recovery.RecoveryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name="com.verbatoria.presentation.login.view.sms.SMSConfirmationActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name="com.verbatoria.presentation.session.view.submit.school.SchoolSubmitActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme">
        </activity>

    </application>

</manifest>