<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.remnev.verbatoria"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name="com.verbatoria.VerbatoriaKtApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.verbatoria.ui.splash.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.verbatoria.ui.login.LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.verbatoria.ui.schedule.ScheduleActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.verbatoria.ui.late_send.LateSendActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.verbatoria.ui.writing.WritingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.verbatoria.ui.client.ClientActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.verbatoria.ui.child.ChildActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.verbatoria.ui.login.sms.SMSLoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.verbatoria.ui.recovery_password.RecoveryPasswordActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name="com.verbatoria.ui.dashboard.DashboardActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name="com.verbatoria.ui.event.EventDetailActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.verbatoria.ui.questionnaire.QuestionnaireActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.verbatoria.ui.submit.SubmitActivity"
            android:screenOrientation="landscape" />

        <service android:name="com.verbatoria.component.session.SessionService" />

    </application>

</manifest>