<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.remnev.verbatoriamini"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.verbatoria.VerbatoriaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/MainTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="67e8efcbe2e007c55247aa119f19c530687ccdab" />

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme" />

        <!-- New version -->

        <activity
            android:name="com.verbatoria.presentation.splash.SplashActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.verbatoria.presentation.login.view.LoginActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.verbatoria.presentation.dashboard.view.DashboardActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name="com.verbatoria.presentation.dashboard.view.calendar.add.AddCalendarEventActivity"
            android:screenOrientation="sensorLandscape"/>

        <activity
            android:name="com.verbatoria.presentation.dashboard.view.calendar.detail.CalendarEventDetailActivity"
            android:screenOrientation="sensorLandscape"/>

        <activity
            android:name="com.verbatoria.presentation.session.view.connection.ConnectionActivity"
            android:screenOrientation="sensorLandscape"/>

        <activity
            android:name="com.verbatoria.presentation.session.view.writing.WritingActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name="com.verbatoria.presentation.session.view.submit.SubmitActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme"/>

    </application>

</manifest>